.settings{
    width: 100%;
    min-height: 100%;
    max-height: 200%;
    background: linear-gradient(180deg, rgba(96, 150, 186, 0) 0%, rgba(96, 150, 186, 0.5) 100%);
    overflow: scroll;
}
.settings .app-nav .background{
    background: #21282D;
    backdrop-filter: blur(0px);
}
.settings .setting{
    height: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.settings .setting .toggle-buttons{
    flex-direction: row;
}
.settings .setting .language, .settings .setting .currency{
    width: 100%;
    height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 9%;
}
.text-setting{
    width: 100%;
    height: 66px;
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.copyPin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 9%;
    font-weight: 500;
    font-size: 18px;
    color: #e6e0e9;
    cursor: pointer;
}
.copyPin > h4{
    /* width: 50%; */
    text-align: center;
}
.copyPin svg{
    margin-left: 5px;
    margin-bottom: 2px;
}
.copyPin svg path{
    fill: rgba(144, 221, 240, 0.44);
}
.settings .copyPin button{
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    height: 36px;
    border: 1.00px solid #517886;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    background: #00000000;
    outline: 0px;
    font-family: 'TTCommons';
    font-weight: 500;
    font-size: 12px;
    color: #e6e0e9;
    transition: .2s ease-in-out; 
    backdrop-filter: blur(23.97233009338379px);
}
.settings .copyPin button.btn-active{
    border: 3px solid #90ddf0;
    color: #90ddf0;
}