@import url("./fonts/fonts.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #161616;
    color: #E6E0E9;

}
.App{
    min-width: 320px;
    max-width: 768px;
    height: 100vh;
    margin: 0 auto;
}
h4{
    font-family: 'TTCommons';
    font-weight: 500;
    font-size: 18px;
    line-height: 162%;
    text-align: center;
}
input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(144, 221, 240, 0.24);
    border-radius: 10px;
    padding: 12px;
    backdrop-filter: blur(24px);
    background: rgba(144, 221, 240, 0.05);
    outline: 0px;
    color: rgba(144, 221, 240, 0.44);
}